<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!DOCTYPE html>


<html>
 <head>
  <title>Here are your Recommendation</title>

 </head>
 <body>
 <form action = "hello" method="post">
  <div class="form-group">
    <label for="userId">User ID</label>
    <input type="number" class="form-control" id="userId" name= "nm" aria-describedby="userIdHelp" placeholder="Enter SJSU ID">
  </div>
  <button type="submit" class="btn btn-primary">Go</button>
  </form>
    {{first_name}}
   <form action = "search" method="post">
  <div class="form-group">
    <label for="SearchQuery">Search</label>
    <input type="SearchQuery" class="form-control" id="SearchQuery" placeholder="Enter your Search" name="submit">
  </div>
  <button type="submit" class="btn btn-primary">Go</button>
  </form>


 </body>
</html>


